<div class="container">
  <a class="btn btn-outline-info btn-sm" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" id="summary">
    Summary
  </a>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Summary of Pokemons by Letter</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Letter</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of initialLetterSummary">
              <td>{{ entry.letter }}</td>
              <td>{{ entry.count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>